* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(188, 242, 101); */
}

/* .h1 {
    padding: 10px;
    margin: 200px;
    align-content: center;
    justify-content: center;
} */
#add {
    position: fixed;
    left: 18px;
    top: 10px;
    background-color: #255c69;
    color: white;
    padding: 10px;;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.heading {
    position: fixed;
    margin-top: 46px;
    /* left: 50%; */
    color: rgb(51, 29, 29);
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-top: 0px;
}
#main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: #81ecec;
    display: flex;
    flex-wrap: wrap;
}

.note {
    width: 380px;
    height: 260px;
    background-color: rgb(246, 197, 164);
    margin: 15px;
    margin-top: 55px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.icons {
    width: 100%;
    background-color: #0d7390;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-size: x-large;
    border-radius: 10px 10px 0px 0px;
}

.icons i {
    padding: 5px;
    cursor: pointer;
}

.notes span {
    margin-left: 8px;
    display: inline-flex;
}
.note textarea {
    border: none;
    width: 100%;
    height: 87%;
    resize: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(236, 236, 92);
    border-radius: 0px 0px 5px 5px;
    /* color: blue; */
}

.title-div textarea {
    border-radius: 0px 0px 0px 0px;
    margin-bottom: -4px;
    background-color: #a4cad4;
    font-weight: bolder;
    font-size: x-large;
}

/* .heading {
    position: fixed;
    margin-top: 46px;
    color: ivory;
} */

.note textarea:focus {
    border: 0;
    outline: 0;
}